.idea/
__pycache__/
**/*env
*.log
.log
**/*venv/
**/*env/
**/*.session
**/*.sqlite3
**/db
**/db/
default.session
upsilon_bot_scraper
upsilon_bot_scraper.py
**/upsilon_bot_scraper
**/upsilon_bot_scraper.py
/telegram/default.session_parsed_users
gitpush.sh
.gitpush.sh
webdriver/chromedriver_87.exe
webdriver/geckodriver_0_28.exe
chromedriver.exe
/results/*
results/img_out/*
results/port_images/*
#results/strategy_stats/*
vix-futures-term-structu.png
geckodriver.log
